{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}?after" />
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2>Post Detail Page</h2>
        <div>title : {{ article.title }}</div>
        <div>content : {{ article.content }}</div>
        <div>creation time : {{article.time}}</div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 입력해주세요" />
            <button type="submit">작성하기</button>
        </form>
        {% for comment in comments %}
        <ul>
            <li>{{comment.content}} <a href="{% url 'delete-comment' article.pk comment.pk %}">삭제</a></li>
        </ul>
        
        {% for reply in comment.replies.all %}
        <ul class="replies">
            <li>{{reply.content}} <a href="{% url 'delete-comment' article.pk reply.pk %}">삭제</a></li>
        </ul>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="대댓글을 입력해주세요" />
            <input type="hidden" name="parent" value="{{comment.id}}">
            <button type="submit">작성하기</button>
        </form>
        {% endfor %}
        <div class="links">
            <a href="{% url 'list' %}">Post List</a>
        <a href="{% url 'update' article.id %}">Update</a>
        <a href="{% url 'delete' article.id %}">Delete</a>
        </div>
        
    </div>
</body>
{% endblock %}

