{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'list.css' %}?after" />
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2>Post List</h2>
        <ul>
        {% for article in articles %}
        <li><a href="{% url 'detail' article.id %}">{{article.title}}</a></li>
        {% endfor %}
        </ul>
        <h3 class="new"><a href="{% url 'new' %}">New Post</a></h3>
        <div class="category">Categories</div>
        <ul>
            <li><a href="{% url 'category' 'hobby' %}">hobby</a> number of posts : {{hobbycnt}}</li>
            <li><a href="{% url 'category' 'daily' %}">daily</a> number of posts : {{dailycnt}}</li>
            <li><a href="{% url 'category' 'programming' %}">programming</a> number of posts : {{programmingcnt}}</li>
        </ul>
    </div>
</body>

{% endblock %}
