{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}?after" />
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>{{ user_profile.username }}'s Profile</h1>
{% if is_subscribed %}
        <a href="{% url 'unsubscribe' user_profile.username %}">Unsubscribe</a>
    {% else %}
        <a href="{% url 'subscribe' user_profile.username %}">Subscribe</a>
    {% endif %}
<ul>
    {% for article in articles %}
    <li><a href="{% url 'detail' article.id %}">{{ article.title }}</a></li>
    {% empty %}
    <li>No articles found.</li>
    {% endfor %}
    <h2>Subscriptions</h2>
    {% for subscription in subscriptions %}
        <p>{{ subscription.subscribed_to.username }} - <a href="{% url 'unsubscribe' subscription.subscribed_to.username %}">Unsubscribe</a></p>
    {% endfor %}

    <h2>Subscribers</h2>
    {% for subscriber in subscribers %}
        <p>{{ subscriber.subscriber.username }} - <a href="{% url 'user_profile' subscriber.subscriber.username %}">View Profile</a></p>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}