{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'update.css' %}?after" />
{% endblock %}
{% block content %}
<body>
    <form action="" method="post">
        {%csrf_token%}
    <div>
        <label for="title">제목</label>
        <input type="text" name="title" id="title" value="{{article.title}}" />
    </div>
    <div>
        <label for="content">내용</label>
        <textarea name="content" id="content" cols="30" rows="10">{{article.content}}</textarea>
    </div>
    <div class="submit"><button type="submit">수정하기</button></div>
</body>
{% endblock %}
