
{% extends 'base.html' %} {% block title %} login {% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="posts_box">
    {% if form.errors %}
      <ul>
        {% for field, error_list in form.errors.items %}
        <li>{{ field }} : {{ error_list }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <input
      type="text"
      name="username"
      placeholder="아이디"
      class="registration-input"
    />
    <input
      type="password"
      name="password"
      placeholder="비밀번호"
      class="registration-input"
    />
  </div>
  <div class="registration-box">
    <button id="post-button">로그인</button>
  </div>
</form>
<div class="social-login">
  <h3>소셜 로그인</h3>
  {% load socialaccount %}
  {% providers_media_js %}
  
  
  <form method="POST" action="{% provider_login_url 'kakao' process='login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction" type="submit">Continue with Kakao</button>
  </form>
  <form method="POST" action="{% provider_login_url 'google' process='login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction" type="submit">Continue with Google</button>
  </form>
  
</div>
</div>
{% endblock %}
