* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  max-width: 370px;
  /* overflow: scroll; */
  /* 이것도 왜 안 됨? */
}

body {
  font-family: 'Rubik', sans-serif;
  /* display: flex; */
  /* 이렇게 하면 왜 안 됨? */

  /* overflow: scroll; */
  /* 왜 적용 안 됨? 왜 전체에 대해서만 해야 됨?*/
  height: 100vh;
  width: 370px;
}
.phone_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  font-size: 0.9em;
}

.phone_top span {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.top_part {
  padding: 10px;
}

.header {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 10px; */

}

.header_left {
  display: flex;
  font-size: 1.3em;
}

.header_middle {
  display: flex;
  align-items: center;
  position: absolute;
  left: 185px;
  transform: translateX(-50%);

}
/* header에 relative를 적용하지 않으면 header middle이 
마치 fixed처럼 작동하는 이유가 body를 기준으로 움직여서?
body 높이가 100vh라서? 헷갈림... */


.header_middle span {
  padding-bottom: 2.5px;
}
/* 줄맞춤 용도 */

.header_right {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.profile {
  display: flex;
  /* width: 97%;
  margin: auto; */
  justify-content: center;
  align-items: center;

}

/* .profile_pic, .status {
  width: 25%;
  text-align: center;

} */
.profile_pic {
  width: 31%;

}

.status {
  width: 23%;
  text-align: center;
}

/* 왜 총합이 100%를 넘어가도 문제없이 배열됨? flex 특성?
그럼 왜 2, 1 이렇게 숫자 지정은 안 됨?
flex grow가 안 되는 이유가 남은 공간에 대해 느는 비율을 설정해준 거라서?
초기값은 그대로니까? */

h5 {
  font-weight: 400;
}

.blue {
  color:#00376B;
  color: rgba(0,0,0,0.)
}

.about {
  padding: 5px;
}

.link {
  padding-top: 8px;
}

.profile_buttons {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

}

.profile_buttons button {

  height: 2.5em;
  border-radius: 10px;
  border: none;
  margin: 2px;
}

#but1 {
  width: 100%;
}

#but2, #but3 {
  flex-grow: 5;
}
.imoji {
  vertical-align: middle;
}

#but4 {
  flex-grow: 1;
}

.stories {
  font-size: 0.7em;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
}

.st {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:22%;
  padding: 3px 7px;

}
.gallery_header {

  display: flex;
  padding: 2vh 0;
  justify-content: space-around;
  

}
.gallery_header i {
  font-size: 1.3em;
  
}
.grey {
  color: gray;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.gallery img{
  width: 33%;
  margin: 1px 0;
}

.nav_buttons {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 2.5vh 0;
  position: fixed;
  bottom: 0;
}

.nav_buttons i {
  font-size: 1.3em;
}