.container {
    width: 400px;
    height: 800px;
    background-color: #f1f3f4;
    padding: 0px;
    margin: 0px;
    position: relative;
}
body {
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.top {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.5em;
}
.top img {
    position: absolute;
    height: 80%;
    width: 20%;
    top: 22%;
    left: 3%;
}
.bell {
    position: absolute;
    right: 6%;
    top:30%;
}
.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 8%;
    position: absolute;
    left: 3%;
    background-color: white;
    border: 0px solid white;
    border-radius: 1em;
    padding: 0% 2%;
    margin: 3% 0px;
}
.box2 {
    width: 90%;
    height: 67%;
    background-color: white;
    position: absolute;
    top: 16%;
    left: 3%;
    padding: 0% 2%;
    border-radius: 1em;
}
.box2child {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 10px;
}
.icon1 img,
.icon2 img,
.icon3 img,
.icon4 img,
.icon5 img,
.icon6 img {
    width: 100%;
}
.icon1 {
    background-color: rgb(192, 228, 252);
    width: 15%;
    height: 15%;
    border: 0px;
    border-radius: 50%;
    padding: 5px;
}
.icon2 {
    width: 15%;
    height: 15%;
    border: 0px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(255, 180, 176);
}
.icon3,
.icon4{
    width: 15%;
    height: 15%;
}
.icon5,
.icon6 {
    width: 14%;
    height: 14%;
}
.textbox {
    width: 65%;
    padding: 20px;
}
.botbox,
.box1 span {
    font-weight: bold;
}
.rightbox {
    background-color: #f1f3f4;
    width: 18%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
hr {
    display: block;
    border-top: 1px solid #f1f3f4;
}
.box2bot {
    color: grey;
    text-align: center;
    padding: 8px;
}
.box3container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    width: 100%;
    height: 100%;
}
.box3 {
    position: absolute;
    width: 90%;
    height: 6%;
    background-color: white;
    top: 85%;
    left: 3%;
    padding: 0% 2%;
    border-radius: 1em;
}
.botcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.bottom {
    width: 100%;
    position: absolute;
    height: 8%;
    top: 92%;
    right: 0.5px;
    padding: 0px;
    border-radius: 1em 1em 0em 0em;
    background-color: white;
}
.bots div {
    text-align: center;
    padding: 2px;
}
.bots {
    padding: 8px;
}
