{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}?after" />
    </head>
    <body>
        <div class="container">
            <h2>Post Detail Page</h2>
            <div>title : {{ article.title }}</div>
            <div>content : {{ article.content }}</div>
            <div>creation time : {{article.time}}</div>
            <a href="{% url 'list' %}">Post List</a>
        </div>
    </body>
</html>
