/* src/SubwayInfo.css */
.bikePaths-container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  .line-1 {
    background-color: #0052A4;
  }
  
  .line-2 {
    background-color: #00A84D;
  }
  
  .line-3 {
    background-color: #EF7C1C;
  }
  
  .line-4 {
    background-color: #00A5DE;
  }
  
  .line-5 {
    background-color: #996CAC;
  }
  
  .line-6 {
    background-color: #CD7C2F;
  }
  
  .line-7 {
    background-color: #747F00;
  }
  
  .line-8 {
    background-color: #E6186C;
  }
  
  .line-9 {
    background-color: #BDB092;
  }
  
  .line-K {
    background-color: #77C371; /* 경의중앙선 */
  }
  
  .line-A {
    background-color: #0090D2; /* 공항철도 */
  }
  
  .line-G {
    background-color: #0C8E72; /* 경춘선 */
  }
  
  .line-B {
    background-color: #A17800; /* 수인분당선 */
  }
  
  .line-S {
    background-color: #D4003B; /* 신분당선 */
  }
  
  .line-M {
    background-color: #FF7300; /* 자기부상철도 */
  }
  
  .line-U {
    background-color: #B7C452; /* 우이신설선 */
  }
  