.container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type='text'],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul.replies {
    padding-left: 20px;
}

h2,
.links {
    text-align: center;
}
.links > a {
    padding: 20px;
    margin-top: 20px;
}
main {
    padding: 20px 20px 0 20px;
}
