body {
    font-family: Arial, sans-serif;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 0px;
    color: #333;
}

h2 {
    margin-bottom: 20px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type='text'],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type='submit'] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #0056b3;
}
h2,
.submitbutton {
    text-align: center;
}
