{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}?after" />
{% endblock %} {% block content %}
<body>
    <div class="container">
        <h2>Post Detail Page</h2>
        <div>title : {{ article.title }}</div>
        <div>content : {{ article.content }}</div>
        <div>creation time : {{article.time}}</div>
        <div>Written by: <a href="{% url 'user_profile' article.creator.username %}">{{ article.creator.username }}</a></div>
        <div>Last viewed: {{ article.last_viewed }}</div>
        <div>Last viewed by: {{ article.last_viewed_by.username }}</div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 입력해주세요" />
            <button type="submit">작성하기</button>
        </form>
        {% for comment in article.comments.all %}
        <ul>
            <li>{{comment.content}} <a href="{% url 'delete-comment' article.pk comment.pk %}">삭제</a></li>
        </ul>

        {% endfor %}

        <div class="links">
            <a href="{% url 'list' %}">Post List</a>
            <a href="{% url 'update' article.id %}">Update</a>
            <a href="{% url 'delete' article.id %}">Delete</a>
        </div>
    </div>
</body>
{% endblock %}
