/* list.css */
li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}

li:last-child {
    border-bottom: none;
}

h3.new a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:hover {
    text-decoration: underline;
}
li a {
    text-decoration: none;
}

h3.new a:hover {
    text-decoration: underline;
}