/* profile.css */
.container {
    background-color: #ffffff;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    margin: 20px 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

h2 {
    margin-top: 40px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

p {
    margin: 10px 0;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subscribe, .unsubscribe {
    color: #FF0000;
    font-weight: bold;
}

/* 각 사용자의 구독 및 구독자 목록에 대한 링크는 구분이 쉽도록 스타일을 적용합니다 */
p a {
    padding: 4px 6px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

p a:hover {
    background-color: #e9ecef;
}
